<mat-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill all fields</ng-template>
      <div class="form-row">
        <div class="form-column">
          <mat-form-field appearance="fill">
            <mat-label>Firstname</mat-label>
            <input matInput formControlName="firstname" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Lastname</mat-label>
            <input matInput formControlName="lastname" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Fathers name</mat-label>
            <input matInput formControlName="fathersName" required>
          </mat-form-field>
        </div>
        <div class="form-column">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Confirm password</mat-label>
            <input matInput formControlName="confirmPassword" type="password" required>
          </mat-form-field>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;width: 100%">
          <mat-radio-group [(ngModel)]="selectedRole" [ngModelOptions]="{standalone: true}" color="primary"
                           aria-label="Select an option">
            <mat-radio-button style="padding: 20px" [value]="1">Teacher</mat-radio-button>
            <mat-radio-button style="padding: 20px" [value]="2">Admin</mat-radio-button>
            <mat-radio-button style="padding: 20px" [value]="3">Pupil</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" errorMessage="Fill required fields.">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill all fields</ng-template>
      <div class="form-row">
        <div class="form-column">
          <mat-form-field appearance="fill">
            <mat-label>Age</mat-label>
            <input matInput formControlName="age" type="number" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>email</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>
        </div>
        <div class="form-column">
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput formControlName="address">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Phone number</mat-label>
            <input matInput formControlName="phoneNumber">
          </mat-form-field>
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button [disabled]="firstFormGroup.invalid || secondFormGroup.invalid" (click)="submit()">Save
      </button>
    </div>
  </mat-step>
</mat-stepper>

