<mat-tab-group style="overflow: auto;height: 400px">
  <mat-tab label="Teacher">
    <!-- Card Header - Dropdown -->
    <div>
      <div style="position: absolute;top:0px;width:100%"
           class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <input type="text" class="form-control bg-light border-8 small hello" placeholder="Search for..."
               aria-label="Search" aria-describedby="basic-addon2" [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        </mat-autocomplete>
        <mat-chip-row>
          {{selectedTeacher?.firstname}} {{selectedTeacher?.lastname}}
          <button matChipRemove [attr.aria-label]="'remove ' + selectedSubject?.name" (click)="selectedTeacher = null">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      </div>
      <!-- Card Body -->
      <div class="m-3">
        <table class="table table-hover table-bordered" style="margin-top: 65px">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let teacher of filteredTeachers | async;" (click)="selectedTeacher = teacher">
            <th scope="row">{{teacher.id}}</th>
            <td>{{teacher.firstname}}</td>
            <td>{{teacher.lastname}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Subject">
    <div>
      <div style="position: absolute;top:0;width: 100%;"
           class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <input type="text" class="form-control bg-light border-8 small hello" placeholder="Search for..."
               aria-label="Search" aria-describedby="basic-addon2" [formControl]="myControl1"
               [matAutocomplete]="auto1">
        <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayFnSubject">
        </mat-autocomplete>
        <mat-chip-row>
          {{selectedSubject?.name}}
          <button matChipRemove [attr.aria-label]="'remove ' + selectedSubject?.name" (click)="selectedSubject = null">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      </div>
      <!-- Card Body -->
      <div class="m-3">
        <table class="table table-hover table-bordered" style="margin-top: 65px">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Subject</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let subject of filteredSubjects | async;" (click)="selectedSubject = subject">
            <th scope="row">{{subject.id}}</th>
            <td>{{subject.name}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Save">
    <div style="margin: 40px">
      <div>
        <h3>New teacher: {{selectedTeacher?.firstname}} {{selectedTeacher?.lastname}}</h3>
      </div>
      <div>
        <h3>New subject: {{selectedSubject?.name}}</h3>
      </div>

      <div style="display: flex;justify-content: center;align-items: center;height: 100px">
        <a (click)="save()" class=" d-sm-inline-block btn btn-sm btn-primary shadow-sm"
           style="padding: 10px;margin-left:20px;margin-right: 20px;"><i
          class="fas fa-download fa-sm text-white-50"></i>Save changes</a>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
