.example-margin {
  margin: 0 10px;
}
.radio-group{
  display: flex;
  align-items: center;
}
h4{
  margin: 0;
}
.marsForm{
  width: 25%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 5px;
}
