<div style="padding: 15px">
  <div
    class="card-header py-3 d-flex flex-row align-items-center justify-content-center">
    <h4 class="m-0 font-weight-bold text-primary">Timetable</h4>
  </div>
  <div class="card-body">
    <form [formGroup]="groupForm">
      <div>
        <mat-form-field>
          <input matInput placeholder="Group name" formControlName="name"
                 class="modal-input">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-select placeholder="Subject" formControlName="subject">
            <mat-option>
              Mental
            </mat-option>
            <mat-option>
              Russian
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-select placeholder="Teahcer" formControlName="teacher">
            <mat-option>
              Madanbekov Marsel
            </mat-option>
            <mat-option>
              Madanbekov Marsel
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div style="display: flex;justify-content: center;align-items: center;width: 100%">
        <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" [disabled]="groupForm.invalid"
                (click)="onSubmit()"><i
          class="fas fa-download fa-sm text-white-50"></i>Create timetable
        </button>
      </div>
    </form>
  </div>
</div>
