<div style="padding: 15px">
  <div
    class="card-header py-3 d-flex flex-row align-items-center justify-content-center">
    <h4 class="m-0 font-weight-bold text-primary">Create Branch</h4>
  </div>
  <div class="card-body">
    <form [formGroup]="branchForm">
      <div>
        <mat-form-field>
          <input matInput placeholder="Branch name" formControlName="name"
                 class="modal-input">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-select [(ngModel)]="selectedOwner" placeholder="Owner" formControlName="owner">
            <mat-option *ngFor="let owner of branchOwners;let i = index" [value]="owner">
              {{owner?.firstname}} {{owner?.lastname}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-select placeholder="Town" formControlName="town">
            <mat-option>
              Jalal-Abad
            </mat-option>
            <mat-option>
              Bishkek
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div style="display: flex;justify-content: center;align-items: center;width: 100%">
        <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" [disabled]="branchForm.invalid"
                (click)="onSubmit()"><i
          class="fas fa-download fa-sm text-white-50"></i>Create branch
        </button>
      </div>
    </form>
  </div>
</div>
