<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <!-- Sidebar Toggle (Topbar) -->
        <button mat-icon-button (click)="sidebarToggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <!-- Topbar Search -->
        <h1 style="margin: 0;">Academia Rosta</h1>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
          <div style="display: flex;justify-content: center;align-items: center;">
            <button mat-icon-button routerLink="/trenajer"
                    matTooltip="trenajer"
                    aria-label="Button that displays a tooltip when focused or hovered over">
              <mat-icon>extension</mat-icon>
            </button>
            <button mat-icon-button
                    matTooltip="language"
                    [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>language</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="language('ru')">
                <span>RU</span>
              </button>
              <button mat-menu-item (click)="language('kg')">
                <span>KG</span>
              </button>
            </mat-menu>
          </div>
          <div class="topbar-divider d-none d-sm-block"></div>

          <!-- Nav Item - User Information -->
          <li class="nav-item dropdown no-arrow">
            <a [matMenuTriggerFor]="menu1" class="nav-link dropdown-toggle" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <mat-icon style="margin-right: 5px">account_circle</mat-icon>
              <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{currentUser?.firstname}} {{currentUser.lastname}}</span>
            </a>
            <mat-menu #menu1="matMenu">
              <button mat-menu-item (click)="profile()">
                <span>profile</span>
              </button>
              <button mat-menu-item (click)="logout()">
                <span>logout</span>
              </button>
            </mat-menu>
          </li>

        </ul>
      </nav>
      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <div>
            <h1 class="h3 mb-0 text-gray-800">Branch: {{branch?.name}}</h1>
            <h3 class="h3 mb-0 text-gray-800">Owner: {{branch?.owner?.firstname}} {{branch?.owner?.lastname}}</h3>
          </div>
          <a (click)="createNewOwner()" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i>new Owner</a>
        </div>

        <!-- Content Row -->
        <div class="row">

          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2" (click)="routeToPupils()">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                      Total {{'PUPILS' |translationPipe:currentLang}}
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{branch?.total_pupils}}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"><mat-icon class="icons">person</mat-icon></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2" (click)="routeToSubject()">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                      Total Subjects
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{branch?.total_subjects}}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-2x text-gray-300"><mat-icon class="icons">book</mat-icon></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2" (click)="routeToGroups()">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Groups
                    </div>
                    <div class="row no-gutters align-items-center">
                      <div class="col-auto">
                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{branch?.total_groups}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-clipboard-list fa-2x text-gray-300"><mat-icon class="icons">group</mat-icon></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Pending Requests Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2" (click)="routeToTeachers()">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                      Total Teachers
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{branch?.total_teachers}}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-comments fa-2x text-gray-300"><mat-icon class="icons">school</mat-icon></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Content Row -->

        <div class="row">

          <!-- Area Chart -->
          <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
              <router-outlet></router-outlet>
            </div>
          </div>

          <!-- Pie Chart -->
          <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h4 class="m-0 font-weight-bold text-primary">Administrators</h4>
                <a (click)="createAdmin()" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                  class="fas fa-download fa-sm text-white-50"></i>new Admin</a>
              </div>
              <!-- Card Body -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Firstname</th>
                    <th scope="col">Lastname</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr (click)="viewUser(branch?.admin)">
                    <th scope="row">{{branch?.admin?.id}}</th>
                    <td>{{branch?.admin?.firstname}}</td>
                    <td>{{branch?.admin?.lastname}}</td>
                  </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->
</div>
